<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
    >

    <testsuites>
        <testsuite name="RoutingAuto Component Test Suite">
            <directory>./Tests</directory>
        </testsuite>

        <testsuite name="RoutingAutoBundle Test Suite">
            <directory>./vendor/symfony-cmf/routing-auto-bundle/Symfony/Cmf/Bundle/RoutingAutoBundle/Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="vendor/symfony-cmf/routing-auto-bundle/Tests/Resources/app" />
    </php>

</phpunit>
